.holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item1 {
    width: 150px;
    height: 150px;
    background-color: green;
		font-size:60px

}
.item2 {
    width: 150px;
    height: 150px;
    background-color: red;
		font-size:60px

}
.item3 {
    width: 150px;
    height: 150px;
    background-color: blue;
	font-size:60px
}
